##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

##############################
## JavaScript / TypeScript / Node.js / Angular
##############################
/dist
/tmp
/out-tsc
/node_modules
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
.angular
# reports directors may be used for JUnit and Coverage reports
/reports

##############################
## Maven
##############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

##############################
## Gradle
##############################
bin/
build/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## Eclipse
##############################
.settings/
# bin/ This is already defined in Gradle section
tmp/
.metadata
.classpath
.project
*.launch
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath
.springBeans

##############################
## NetBeans
##############################
nbproject/private/
# build/ This is already defined in Gradle section
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace
# *.launch This is already defined in Eclipse section

##############################
## Other IDEs
##############################
.c9/
*.sublime-workspace

##############################
## OS Files
##############################
.DS_Store
Thumbs.db


